.toolbar {
    background-color: #00A950;
}

h4 {
    color: #fff;
    margin: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

#greeting {
    opacity: 0;
}

.card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: transparent;
  height: 150px;
  width: 250px;
  border-radius: 10px;
   color: white;
   font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 7%;
    width: 100%;
    background-color: #00A950;

}

.back-button__icon {
    color: #fff;
    fill: #fff;
}

.back-button__label {
    color: #fff;
    fill: #fff;
}

#report-details {
    width: 100%;
}

.submit-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      align-items: center;
      padding: 10px;
}

.button {
    background-color: #00693C;
}

section {
    margin-bottom: 10%;
}

@media (min-width: 1000px) {
    section {
      padding: 0% 15%;
    }
  }