.toolbar {
    background-color: #00A950;
}

h4 {
    color: #fff;
    margin: 10px;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

.card {
    height: 150px;
    width: 250px;
    background-color: gray;
    color: white;
    font-size: 20px;
}